{% extends 'user_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}
    <div class="auth-form">
        <h1 class="auth-title">{% trans 'Reset password' %}</h1>
        {% if form.errors %}
            <ul class="errors-list">
                {% for error in form.non_field_errors %}
                    <li class="error-item">
                        {% blocktrans %}{{ error }}{% endblocktrans %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <p>
                <input type="email" id="email-input" placeholder="{% trans 'Email' %}" name="email" class="auth-form-input">
            </p>
            <input type="submit" value="{% trans 'Continue' %}" class="auth-submit-button">
        </form>
    </div>
{% endblock %}

{% block script_include %}
    <script src="{% static 'js/auth_form.js' %}"></script>
{% endblock %}